.main{
    padding-bottom: 200px;
}
.main__top-section{
    margin-bottom: 262px;
}
.main__top-wrapper{
    width: 100%;
    max-width: 1280px;
    background-image: url(../../images/main-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    padding: 117px 0 116px 85px;
    margin: 0;
}
.main__top-inner{
    width: 493px;
}
.main__top-title{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    color: #FEFCF7;
}
.main__top-content{
    width: 100%;
    max-width: 445px;
}
.main__top-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 56px;
}
.main__top-link{
    display: inline-block;
    padding: 16px 31px;
    text-decoration: none;
    background: #66D2CF;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}












// our collection
.main__collection{
    margin-bottom: 200px;
}
.main__collection-wrapper{
    width: 100%;
    max-width: 256px;
    
}
.main__collection-title{
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #333D4B;
    margin-bottom: 24px;
}
.main__collection-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #333D4B;
}

.main__collection-inner{
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.main__collection-inner::before{
    position: absolute;
    z-index: -1;
    content: "";
    top: -120px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../images/our-collection.png);
    background-repeat: no-repeat;
    background-size: 100%;
}





// midle
.main-midle{
    margin-bottom: 520px;
}
.main-midle__wrapper{
    width: 100%;
    max-width: 1280px;
    height: 577px;
    background-color: #2C343E;
    border-radius: 10px;
    padding: 100px  ;
}

.main-midle__inner{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.main-midle__card{
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
    margin-bottom: 86px;
}
.main-midle__title{
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #FEFCF7;
    margin: 0px;
    margin-bottom: 32px;
}
.main-midle__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}




.main-midle__works{
    display: flex;
    
}
.main-midle__content{
    width: 100%;
    max-width: 350px;
    height: 382px;
    background-color: #0E8784;
    padding: 72px 48px 48px 48px;
    border-radius: 10px;
    margin-right: 30px;
}
.main-midle__box-img{
    margin-bottom: 56px;
}
.main-midle__box{
    width: 100%;
    max-width: 255px;
}
.main-midle__box-title{
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 24px;
}
.main-midle__box-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #FEFCF7;
}




// works

.wors__list{
    display: flex;
    justify-content: center;
    width:100%;
    max-width: 1045px;
    margin: 0 auto;
    list-style-type: none;
}
.works__item{
    position: relative;
    padding-right: 95px;
}
.active{
    padding: 0;
}
.works__item::before{
    position: absolute;
    width: 27px;
    height: 27px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
    top: -94px;
    left: 0;
    content: "";
    
}
.works__line{
    position: absolute;
    top: -80px;
    z-index: -2;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
    
}
.works__item:last-child .works__line{
    display: none;
}
.works__title{
    width: 100%;
    max-width: 255px;
    font-weight: 900;
    font-size: 32px;
    line-height: 112%;
    color: #333D4B;
    margin-bottom: 42px;
}
.works__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #333D4B;
    margin-bottom: 64px;
}
.works__link{
    display: inline-block;
    width: 100%;
    max-width: 217px;
    padding: 16px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 139%;
    text-align: center;
    color: #FEFCF7;
    background: #66D2CF;
    border-radius: 6px;
}